<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.aimai.business.mapper.IOperationLogMapper">


    <!--<update id="update" parameterType="com.magic.aimai.business.entity.OperationLog">-->
        <!---->
    <!--</update>-->

    <select id="info" resultType="com.magic.aimai.business.entity.OperationLog">
        select * from operation_log ol WHERE ol.id = #{id}
    </select>

    <insert id="save" parameterType="com.magic.aimai.business.entity.OperationLog">
        insert into operation_log (userId, roleId, content, createTime) values (#{userId},#{roleId},#{content},now());
    </insert>

    <select id="list" resultType="com.magic.aimai.business.entity.OperationLog" parameterType="map">
        SELECT
        ol.*,u.showName AS userName,r.roleName
        FROM operation_log ol,users u,role r
        WHERE ol.userId = u.id
        AND r.id = ol.roleId
        <if test="userName != null and userName != ''">
            AND u.showName Like '%${userName}%'
        </if>
        <if test="roleId != null">
            AND ol.roleId = #{roleId}
        </if>
        <if test="startTime != null">
            AND ol.createTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND ol.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        ORDER BY
        <if test="pageArgs != null">
            <if test="pageArgs.column != null and pageArgs.column != ''">
                ${pageArgs.column} ${pageArgs.order},
            </if>
        </if>
        ol.id DESC
        <if test="pageArgs != null">
            limit #{pageArgs.pageStart}, #{pageArgs.pageSize}
        </if>
    </select>


    <select id="listCount" resultType="java.lang.Integer" parameterType="map">
        SELECT
        COUNT(0)
        FROM operation_log ol,users u
        WHERE ol.userId = u.id
        <if test="userName != null and userName != ''">
            AND u.showName Like '%${userName}%'
        </if>
        <if test="roleId != null">
            AND ol.roleId = #{roleId}
        </if>
        <if test="startTime != null">
            AND ol.createTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND ol.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>
</mapper>