<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.aimai.business.mapper.IRoleMenuMapper">



    <insert id="batchAddRoleUrl">
        INSERT INTO `role_menu` (`roleId`,`menuId`)
        VALUES 
        <foreach collection="roleMenus" index="index" item="r" separator=",">
            (#{r.roleId},#{r.menuId})
        </foreach>
    </insert>


    <delete id="delRoleUrlByRole">
        DELETE FROM  `role_menu` WHERE `roleId`=#{roleId}
    </delete>


    <select id="queryUrlByRole" resultType="com.magic.aimai.business.entity.RoleMenu">
        select * from role_menu r WHERE r.roleId = #{roleId}
    </select>


</mapper>